<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      div{
        display: inline-block;
        width: 40%;
        border: 2px black solid;
        vertical-align: top;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    {{user_id}}
    <div>
      <h1>Sign Up Here</h1>
      <form action="{% url 'users:sign_up' %}" method="post">
        {% csrf_token %}
              First Name: <input type="text" name="name"><p></p>
              Username: <input type="text" name="username"><p></p>
              Email: <input type="email" name="email"><p></p>
              Password: <input type="text" name="password"><p></p>
              Confirm PS: <input type="text" name="confirm_password"><p></p>
              <input type="submit" value="Sign Up">
        {% if messages %}
          {% for message in messages %}
            {% if 'sign_up' in message.tags %}
               <p>{{message}}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      </form>
    </div>

    <div>
      <h1>Log In Here</h1>
      <form action="{% url 'users:log_in' %}" method="post">
        {% csrf_token %}
        Email: <input type="text" name="email">
        Password: <input type="text" name="password">
        <input type="submit" value="Log In!">
        {% if messages %}
          {% for message in messages %}
            {% if 'log_in' in message.tags %}
                <p>{{message}}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      </form>
    </div>

  </body>
</html>
